.tasks_task-card {
    margin: 1rem 0;
    padding: 2rem !important;
}
.tasks_task-card-actions {
    display: flex;
    justify-content: flex-end ;
}
.tasks_task-card-header{
    justify-content: space-between;
}