//Default display: flex overrided
.mat-card-header {
  display: block;
  padding-top: 10px;
}
.login_ilustration {
  width: 100%;
  height: 120px;
  padding-bottom: 30px;
}
.login_form-footer-github-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_github-link {
  display: flex;
  -webkit-text-stroke-width: medium;
}
.main_title {
  line-height: 1.2;
}
