/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  background-color: rgb(251 253 255);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.full-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: rgb(44, 44, 44);
  transition: all 3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover {
  color: #673ab7;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
.display-flex {
  display: flex;
}
.main-card {
  padding: 3.2rem 2rem !important;
  border-radius: 6px !important;
}
.mat-card-title {
  -webkit-text-stroke-width: thin;
  font-size: xx-large;
}
